  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  Web3 Dashboard

    <div class="flex-stretch"></div>

    <mat-icon>bedtime</mat-icon>
    <mat-slide-toggle [formControl]="toggleDarkMode"> </mat-slide-toggle>
    <mat-icon>brightness_5</mat-icon>
  </mat-toolbar>

  <!-- DIV WITH BRIGHTNESS TOGGLE-->
  <mat-sidenav-container>
    <mat-sidenav class="mat-elevation-z8" color="accent">

  <!--SIDE BAR HERE-->
    <app-sidebar></app-sidebar>
  </mat-sidenav>

    <mat-sidenav-content
      class="content mat-elevation-z8"
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutGap="16px"
    >

    <!-- MAIN CONTENT VIA ROUTER-->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
