
<form [formGroup]="form" (ngSubmit)="updateUser()">
  <table>
    <tr>
      <td><label for="emailAddress">Title</label></td>
      <td><input type="text" id="emailAddress" formControlName="emailAddress"></td>
    </tr>
    <tr>
      <td><label for="comments">Comments</label></td>
      <td><input type="text" id="comments" formControlName="comments"></td>
    </tr>
    <tr>
        <td></td>
        <td>
          <button type="submit">Add</button>
        </td>
      </tr>
  </table>

</form>
